input:last-child,
section:last-child {
  margin-bottom: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.main-columns {
  grid-template-columns: 2fr 1fr;
}

.log,
.controls-column article:last-child {
  margin-bottom: 0;
}

.log-filter {
  display: flex;
  gap: var(--pico-grid-column-gap);
  overflow-x: auto;
}

.log-filter button {
  white-space: nowrap;
}

.header {
  justify-content: space-between;
}

.header h3 {
  margin-bottom: 0;
}

.header img {
  width: 2rem;
  height: 2rem;
}

.table-container td:nth-child(1) {
  width: 35%;
}

.table-container td:nth-child(2) {
  width: 55%;
}

.table-container td:nth-child(3) {
  width: 10%;
}

.task-remover button {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-remover button:not(:first-child) {
  margin-top: var(--pico-grid-row-gap);
}
